* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 60px;
}

.nav-manu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #575757;
}

.nav-btn {
  background-color: #1d4ed8;
  border: none;
  border-radius: 10px;
  padding: 12px 12px;
  color: #ffff;
  font-weight: bold;
}

.nav-btn:hover {
  background-color: #1e40af;
  cursor: pointer;
}

.banner {
  width: 100%;
  min-height: 786px; /* সর্বনিম্ন উচ্চতা ৭৮৬ পিক্সেল হবে, প্রয়োজনে বড় হবে */
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.85) 100%),
    url("./assets/banner.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.banner h1 {
  font-size: 80px;
  font-weight: bold;
}

.banner p {
  font-size: 22px;
}
.banner h1 {
  margin-bottom: 20px;
}

.banner h1 span {
  font-style: italic;
  font-weight: 600;
}

.banner h1,
.banner p {
  text-align: center;
  color: #ffff;
}

.banner button {
  background-color: #1d4ed8;
  border: none;
  border-radius: 10px;
  padding: 16px 36px;
  color: #ffff;
  font-weight: bold;
  font-size: 24px;
}

.banner button:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Speaker section */

.speakers-section {
  padding: 80px 20px;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.speakers-header {
  margin-bottom: 56px;
}

.speakers-header h2 {
  font-size: 40px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 12px;
  text-align: center;
}

.speakers-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.speaker-card {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
}

.speaker-img-box {
  width: 100%;
  height: 324px;
  overflow: hidden;
}

.speaker-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speaker-info {
  padding: 24px;
  text-align: left;
}

.speaker-info p:first-child {
  color: #2563eb;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 6px;
}

.speaker-info h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0d1b2a;
  margin-bottom: 6px;
}

.speaker-info .speaker-role {
  color: #575757;
  font-size: 14px;
}
